@model IEnumerable<IPB2.Inventory_SalesManagementSystem.DB.Models.Category>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.CategoryId</td>
                    <td>@item.CategoryName</td>
                    <td>@item.Description</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CategoryId" class="btn btn-sm btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.CategoryId" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        }
    }
    </tbody>
</table>
